export PROJECT_ROOT="/scratch/xiangfu/mlcgmd/graphwm"
export CHAIN_DATASET_DIR="/scratch/xiangfu/polymer_train"
export BAT_DATASET_DIR="/scratch/xiangfu/battery_5ns"
export CHAIN_TEST_DATASET_DIR="/scratch/xiangfu/polymer_test"
export BAT_TEST_DATASET_DIR="/scratch/xiangfu/battery_50ns"
export MODEL_DIR="/scratch/xiangfu/mlcgmd_models"